<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
</style>
	

*{
	box-sizing: border-box;
	margin: 0px;
	padding-bottom: 0px;
	width: 1920px;
	padding: 0px;
}

li a {
	font-family: avenir;
	font-size: 14px;
	text-decoration: none;
	color: black;
}


li a:hover{
	font-weight: bolder; 
	transition: all 0,5s ease 0s;
}


.logo{
	height: 90px;
	width: 90px;
}


h4{
	font-family: playfair display;
	font-size: 20px;
	padding bottom: 14px;
	margin: 0px;
	text-align: right;
}


p{
	font-family: avenir;
	font-size: 12px;
	line-height: 15px;
	margin:0px;
	padding-top: 10px;
	text-align: right;
}

header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 2%;
	width: 1920px;
	box-sizing: border-box;
	margin: 0px;
}

li{
	list-style: none;
	display: inline-block;
	padding: 0px 20px;
}



body{
	width: 1920px;
	margin: 0px;
}


.cover_text{
	background-image: url(../img/Coverbillede_1920x1150px.jpeg);
	background-size: 1920px;
	background-repeat: no-repeat;
	background-position: center;
	height: 1150px;	
}

.cover_text h1{
	font-size: 140px;
	font-family: playfair display;
	color: white;
	text-align: center;
	margin: 0px;
	position: relative;
	top: 300px;
}

.cover_text h3{
	font-size: 25px;
	font-family: playfair display;
	color: white;
	position: relative;
	left: 811px;
	top: 265px;
	width: 200px;
	box-sizing: border-box;
}

.line{
	position: relative;
	left: 750px;
	top: 138px;
	width: 100px;
}

.line_2{
	
position: relative;
	left: 960px;
	top: 435px;
	width: 100px;
}

.historie{
	margin: 0;
	height: 350px;
}


ul li h2{
	height: 350px;
	font-size: 30px;
	font-family: playfair display;
	width: 960px;
	text-align: center;
	vertical-align: middle;
	line-height: 300px; 
}

ul li p{
	text-align: center;
	font-family: avenir;
	font-size: 14px;
	width: 960px;
	line-height: 17px;
	padding-bottom: 10px;
	position: relative;
	top: 120px;
}

ul li{
	height: 350px;
	padding: 0px;
}

ul{
	padding: 0px;
	margin: 0px;
}

.htext{
	vertical-align: middle;
	line-height: 370px; 
}



.billede_1 img{
	width: 1920px;
}






header, footer{
	flex: none;
}
