*{
	margin: 0;
	padding: 0;
}


nav{
	width: 100%;
	height: 100px;
}

ul{
	text-align: center;
}

ul li {
	list-style: none;	
	display: inline-block;
	line-height: 140px;
}

ul li a {
	text-decoration: none;
	font-family: avenir;
	float: left;
	color: #1e1e1e;
	font-size: 14px;
	padding: 0 20px;
}

ul li a:hover {
	font-weight: bolder;
}

.logo{
	height: 90px;
	position: relative;
	bottom: 235px;
	left: 30px;
}

.nav{
	height: 100px;
}

h4{
font-size: 17px;
font-family: playfair display;
padding-bottom: 14px;
}

.åbningstider {
font-family: playfair display;
line-height: 15px;
text-align: right;
padding-right: 35px;
padding-bottom: 100px;
position: relative;
bottom: 60px;
}	


.nav p{
font-size: 12px;
font-family: avenir;
}

.cover{
	height: 1150px;
	padding-bottom: 50px;
}
.coverbillede{
position: relative;
top: 40px;
}


h1{
	font-size: 140px;
	font-family: playfair display;
	color: white;
	text-align: center;
	position: relative;
	bottom: 800px;
}

h3{
	font-size: 25px;
	font-family: playfair display;
	color: white;
	position: relative;
	bottom: 814px;
	left: 811px;

}

.line{
	position: relative;
	bottom: 917px;
	left: 748px;
}


.line_2{
	width: 1920px;
	position: relative;
	bottom: 640px;
	left: 960px;

}










h2{
	height: 350px;
	font-size: 35px;
	font-family: playfair display;
	position: relative;
	top: 210px;
	left: 350px;
	



}

.historie p{
	font-family: avenir;
	font-size: 14px;
	text-align: center;
	padding-right: 30px;
	position: relative;
	bottom: 165px;
	left: 480px;
	line-height: 17px;
	padding-bottom: 15px;


}





