<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
</style>
	

*{
	box-sizing: border-box;
	margin: 0px;
	padding-bottom: 0px;
	width: 1920px;
	padding: 0px;
}

li a {
	font-family: avenir;
	font-size: 14px;
	text-decoration: none;
	color: black;
	position: relative;
	left: 30px;

}


li a:hover{
	font-weight: bolder; 
	transition: all 0,5s ease 0s;
}


.logo{
	height: 90px;
	width: 90px;
}


h4{
	font-family: playfair display;
	font-size: 20px;
	padding bottom: 14px;
	margin: 0px;
	text-align: right;
}


p{
	font-family: avenir;
	font-size: 12px;
	line-height: 15px;
	margin:0px;
	padding-top: 10px;
	text-align: right;
}

header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 2%;
	width: 1920px;
	box-sizing: border-box;
	margin: 0px;

}

li{
	list-style: none;
	display: inline-block;
	padding: 0px 20px;
}



body{
	width: 1920px;
	margin: 0px;
}


.cover_text{
	background-image: url(../img/Coverbillede_1920x1150px.jpeg);
	background-size: 1920px;
	background-repeat: no-repeat;
	background-position: center;
	height: 1150px;	
}

.cover_text h1{
	font-size: 140px;
	font-family: playfair display;
	color: white;
	text-align: center;
	margin: 0px;
	position: relative;
	top: 300px;
}

.cover_text h3{
	font-size: 25px;
	font-family: playfair display;
	color: white;
	position: relative;
	left: 811px;
	top: 265px;
	width: 200px;
	box-sizing: border-box;
	letter-spacing: 1px;
}

.line{
	position: relative;
	left: 750px;
	top: 138px;
	width: 100px;
}

.line_2{
	
position: relative;
	left: 960px;
	top: 435px;
	width: 100px;
}

.historie{
	margin: 0;
	height: 350px;
}

.historie2{
	position: relative;
	left: 960px;
	top: 390px;
}

ul li h2{
	height: 350px;
	font-size: 30px;
	font-family: playfair display;
	width: 960px;
	text-align: center;
	vertical-align: middle;
	line-height: 300px; 
}

ul li p{
	text-align: center;
	font-family: avenir;
	font-size: 14px;
	width: 960px;
	line-height: 17px;
	padding-bottom: 10px;
	position: relative;
	top: 120px;
}

ul li{
	height: 350px;
	padding: 0px;
}

ul{
	padding: 0px;
	margin: 0px;
}

.htext{
	vertical-align: middle;
	line-height: 370px; 
}


.symaskine{
	height: 1090px;
}

.billede_1 img{
	width: 1920px;
}

ul li img{
	width: 960px;
}
 


 .Bilkalechertext p{
	text-align: center;
	font-family: avenir;
	font-size: 14px;
	width: 960px;
	line-height: 17px;
	padding-bottom: 10px;
	position: relative;
	top: 20px;

 }

.Bilkalecheroverskrift{
	font-size: 30px;
	font-family: playfair display;
	width: 300px;
	position: relative;
	top: 160px;
	

}


 .bilsædertext p{
	text-align: center;
	font-family: avenir;
	font-size: 14px;
	width: 960px;
	line-height: 17px;
	padding-bottom: 10px;
	position: relative;
	top: 60px;
	right: 20px;

 }

.bilsæderoverskrift{
	font-size: 30px;
	font-family: playfair display;
	width: 300px;
	position: relative;
	top: 200px;
	right: 20px;
}


 .bådkalechertext p{
	text-align: center;
	font-family: avenir;
	font-size: 14px;
	width: 960px;
	line-height: 17px;
	padding-bottom: 10px;
	position: relative;
	bottom: 0px;


 }

.bådkalecheroverskrift{
	font-size: 30px;
	font-family: playfair display;
	width: 300px;
	height: 680px;
	position: relative;
	top: 590px;
}


 .presenningertext p{
	text-align: center;
	font-family: avenir;
	font-size: 14px;
	width: 960px;
	line-height: 17px;
	padding-bottom: 10px;
	position: relative;
	top: 230px;
	right: 20px;


 }

.presenningeroverskrift{
	font-size: 30px;
	font-family: playfair display;
	width: 300px;
	height: 610px;
	position: relative;
	top: 629px;
	right: 20px;
}


/*Billede slider 1 start*/


#container {
  width: 960px;
  height: 740px;
  position: relative;
  margin: 0px;
  bottom: 30px;
}


#container input{
  display: none;
}

.images {
  width: 100%;
  height: 100%;
  position: absolute;
}

.images img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.prev, .next {
  height: 100%;
  width: 12%;
  /*background: rgba(10, 10, 10, .3);*/
  position: absolute;
  top: 0;
  /*cursor: pointer;*/
  transition: .15s;
  z-index: 100;
  margin: 0px;
}

.prev:hover, .next:hover {
  cursor: pointer;
  /* background: rgba(10, 10, 10, .5);*/
}

.prev { left:  0 }

.next { right: 0 }



#nav {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  cursor: arrow;
  z-index: 100;
}

.dots {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background: rgba(10, 10, 10, .7);
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dots:hover {
 *background: rgba(245, 245, 245, .7);
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
  z-index: -1;
}

#inp1:checked ~ #one,
#inp2:checked ~ #two,
#inp3:checked ~ #three,
#inp4:checked ~ #four,
#inp5:checked ~ #five,
#inp6:checked ~ #six,
#inp7:checked ~ #seven,
#inp8:checked ~ #eight,
#inp9:checked ~ #nine {
  position: absolute;
  z-index: 10;
}

#inp1:checked ~ #nav #dot1, 
#inp2:checked ~ #nav #dot2,
#inp3:checked ~ #nav #dot3,
#inp4:checked ~ #nav #dot4,
#inp5:checked ~ #nav #dot5,
#inp6:checked ~ #nav #dot6,
#inp7:checked ~ #nav #dot7,
#inp8:checked ~ #nav #dot8,
#inp9:checked ~ #nav #dot9 {
  background: white;
  opacity: 70%;
}


.arrow:hover{
  cursor: pointer;
}

.arrow {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  color: white;
  opacity: 70%;
  margin: 0px;
  position: relative;
  z-index:11; 

  left: 0;
  right: 0;
  
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: 900px; 
  top: 400px;
  
}

.left {
  transform: rotate(135deg);
  position: relative;
  top: 400px;
  right: 0px;

}

/*billede slider 1 slut*/


/*Billede slider 2 start*/

#container2 {
  width: 960px;
  height: 740px;
  position: relative;
  margin: 0px;
  bottom: 30px;
}


#container2 input{
  display: none;
}

.images2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.images2 img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.prev2, .next2 {
  height: 100%;
  width: 12%;
  /*background: rgba(10, 10, 10, .3);*/
  position: absolute;
  top: 0;
  /*cursor: pointer;*/
  transition: .15s;
  z-index: 100;
  margin: 0px;
}

.prev2:hover, .next2:hover {
  cursor: pointer;
  /* background: rgba(10, 10, 10, .5);*/
}

.prev2 { left:  0 }

.next2 { right: 0 }



#nav2 {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  cursor: arrow;
  z-index: 100;
}
.dots2{
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background: rgba(10, 10, 10, .7);
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.dots2:hover {
 *background: rgba(245, 245, 245, .7);
}

#one2, #two2 {
  z-index: -1;
}

#inp12:checked ~ #one2,
#inp22:checked ~ #two2 {
  position: absolute;
  z-index: 10;
}

#inp12:checked ~ #nav2 #dot12, 
#inp22:checked ~ #nav2 #dot22 {
  background: white;
  opacity: 70%;
}


.arrow2:hover{
  cursor: pointer;
}

.arrow2 {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  color: white;
  opacity: 70%;
  margin: 0px;
  position: relative;
  z-index:11; 

  left: 0;
  right: 0;
  
}

.right2 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: 900px; 
  top: 400px;
  
}

.left2 {
  transform: rotate(135deg);
  position: relative;
  top: 400px;
  right: 0px;

}

/*billede slider 2 slut*/




/*Billede slider 3 start*/

#container3 {
  width: 960px;
  height: 740px;
  position: relative;
  margin: 0px;
  top: 750px;
  right: 960px;
}


#container3 input{
  display: none;
}

.images3 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.images3 img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.prev3, .next3 {
  height: 100%;
  width: 12%;
  /*background: rgba(10, 10, 10, .3);*/
  position: absolute;
  top: 0;
  /*cursor: pointer;*/
  transition: .15s;
  z-index: 100;
  margin: 0px;
}

.prev3:hover, .next3:hover {
  cursor: pointer;
  /* background: rgba(10, 10, 10, .5);*/
}

.prev3 { left:  0 }

.next3 { right: 0 }



#nav3 {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  cursor: arrow;
  z-index: 100;
}
.dots3{
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background: rgba(10, 10, 10, .7);
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.dots3:hover {
 *background: rgba(245, 245, 245, .7);
}

#one3, #two3, #three3 {
  z-index: -1;
}

#inp13:checked ~ #one3,
#inp23:checked ~ #two3,
#inp33:checked ~ #three3 {
  position: absolute;
  z-index: 10;
}

#inp13:checked ~ #nav3 #dot13, 
#inp23:checked ~ #nav3 #dot23,
#inp33:checked ~ #nav3 #dot33 {
  background: white;
  opacity: 70%;
}


.arrow3:hover{
  cursor: pointer;
}

.arrow3 {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  color: white;
  opacity: 70%;
  margin: 0px;
  position: relative;
  z-index:11; 

  left: 0;
  right: 0;
  
}

.right3 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: 900px; 
  top: 400px;
  
}

.left3 {
  transform: rotate(135deg);
  position: relative;
  top: 400px;
  right: 0px;

}

/*billede slider 3 slut*/



/*Billede slider 4 start*/
#container4 {
  width: 960px;
  height: 740px;
  position: relative;
  margin: 0px;
  bottom: 30px;
  left: 960px;
  top: 790px;
}


#container4 input{
  display: none;
}

.images4 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.images4 img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.prev4, .next4 {
  height: 100%;
  width: 12%;
  /*background: rgba(10, 10, 10, .3);*/
  position: absolute;
  top: 0;
  /*cursor: pointer;*/
  transition: .15s;
  z-index: 100;
  margin: 0px;
}

.prev4:hover, .next4:hover {
  cursor: pointer;
  /* background: rgba(10, 10, 10, .5);*/
}

.prev4 { left:  0 }

.next4 { right: 0 }



#nav4 {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  cursor: arrow;
  z-index: 100;
}
.dots4{
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background: rgba(10, 10, 10, .7);
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.dots4:hover {
 *background: rgba(245, 245, 245, .7);
}

#one4, #two4, #three4, #four4, #five4, #six4, #seven4, #eight4, #nine4 {
  z-index: -1;
}

#inp14:checked ~ #one4,
#inp24:checked ~ #two4,
#inp34:checked ~ #three4,
#inp44:checked ~ #four4,
#inp54:checked ~ #five4,
#inp64:checked ~ #six4,
#inp74:checked ~ #seven4 {
  position: absolute;
  z-index: 10;
}

#inp14:checked ~ #nav4 #dot14, 
#inp24:checked ~ #nav4 #dot24,
#inp34:checked ~ #nav4 #dot34,
#inp44:checked ~ #nav4 #dot44,
#inp54:checked ~ #nav4 #dot54,
#inp64:checked ~ #nav4 #dot64,
#inp74:checked ~ #nav4 #dot74 {
  background: white;
  opacity: 70%;
}


.arrow4:hover{
  cursor: pointer;
}

.arrow4 {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  color: white;
  opacity: 70%;
  margin: 0px;
  position: relative;
  z-index:11; 

  left: 0;
  right: 0;
  
}

.right4 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  left: 900px; 
  top: 400px;
  
}

.left4 {
  transform: rotate(135deg);
  position: relative;
  top: 400px;
  right: 0px;

}
/*Billede slider 4 slut*/



.naal{
	position: relative;
	top: 250px;
}

.footer{

  position: relative;
  top: 130px;
  margin-top: 20px;
  max-width: 1920px;
  overflow: hidden;
}


.kontakt p{
  font-family: avenir;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  position: relative;
  top: 175px;
  left: 50px; 
}

.åbning h2{
  font-family: playfair display;
  font-size: 35px;
  line-height: 40px;
  position: relative;
  bottom: 25px;
  left: 855px;
}

.åbning p{
  font-family: avenir;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  position: relative;
  bottom: 40px;
}

.åbning a{
  position: relative;
  left: 958px;
  top: 0px;
}


.logoslut img{
  position: relative;
  /*left: 1747px;*/
  left: 1737px;
  bottom: 155px;
}


.footer_bottom{
  position: relative;
  top: 100px;
  text-align: center;
  font-family: avenir;
  font-size: 12px;

}

.footer_bottom a{
  color: black;
  text-decoration: none;
}


.footer_bottom a:hover{
  font-weight: bolder; 
  cursor: pointer;

}





/*popup*/




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 300;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  width: 40%;
  position: relative;
  transition: all 0s ease-in-out;
  z-index: 300;
}

.popup h2 {
  font-family: playfair display;
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 20px;
  position: relative;
  left: 20px;

}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #999;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }

}

.maps p iframe{
	padding-top: 20px;
}

.telefon strong{
  font-family: avenir;
  font-size: 14px;
  position: relative;
  left: 20px;
 
}

.telefon p{
  font-family: avenir;
  font-size: 14px;
  line-height: 5px;
  margin: 0px;
  text-align: left;
  position: relative;
  left: 20px;

}

.email strong{
  font-family: avenir;
  font-size: 14px;
  position: relative;
  left: 20px;
  
}

.email p{
  font-family: avenir;
  font-size: 14px;
  line-height: 5px;
  margin: 0px;
  text-align: left;
  position: relative;
  left: 20px;

}

.adresse strong{
  font-family: avenir;
  font-size: 14px;
  position: relative;
  left: 20px;
  

}

.adresse p{
  font-family: avenir;
  font-size: 14px;
  margin: 0px;
  text-align: left;
  line-height: 20px;
  position: relative;
  bottom: 7px;
  left: 20px;

}

.telefon {
	margin-bottom: 40px;
}

.email{
	margin-bottom: 40px;	
}

.adresse{
	padding: 0px;	
}


